section{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: center;
    width: 100%;
}


section div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.7%;
    margin: 4%;
    background-color: rgba(255, 255, 255, 0.03);
    width: 25%;
    color: white;
    border-radius: 10px;
    
}

section input{
    background-color: transparent;
    border: 0;
    font-size: 15px;
    color: white;
}

@media screen and (max-width: 400px){
    section div{
        width: 60%;
    }
}