*{
    margin: 0;
    padding: 0;
    
}

section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(27, 27, 27);
    position: static;
    width: 100%;
    
}

.logo{
    height: 80px;
    margin: 1%;
}

.locations{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    font-size: 20px;
    gap: 10px;
    border: white 3px solid;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 20px;
}

.profile{
    margin: 1%;

}

.profile img{
    height: 80px;
    border-radius: 50%;
}

.home{
    color: rgb(53, 212, 117);
    text-decoration: none;
}

.games, .friends, .saved{
    color: white;
    text-decoration: none;
}

.home:hover, .games:hover, .friends:hover, .saved:hover{
    color: rgb(53, 212, 117);
}